#drive-folders-container{
	display: flex;
	width: 100%;
}
#folder-menu{
	width: 40%;
}
#folder-content{
	width: 60%
}
.media-preview{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}
.media-item{
	display: flex !important;
	margin: 5px;
}

.menu-folder{
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 10px
}

.submenu-folder{
	font-size: 15px;
	margin: 0px !important;
	line-height: 20px
}


.hideContentMenu {
    display: none; /* Oculta el contenido */
}

.visibleContentMenu {
    display: block; /* Muestra el contenido */
}

p{
	padding: 0px;
	cursor: pointer;
																			
}

.level-1{
	padding-left: 10px;
	cursor: pointer;	
}

.level-2{
	padding-left: 10px;
	cursor: pointer;	
}


