.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: none; 
}



#drive-folders-container{
	display: flex;
	width: 100%;
}
#folder-menu{
	width: 20%;
}

#folder-content{
	width: 80%;
	display: flex;
}
.media-preview{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.media-item{
	display: flex !important;
	margin: 5px;
}

.menu-folder{
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 10px
}

.submenu-folder{
	font-size: 15px;
	margin: 0px !important;
	line-height: 20px
}


.hideContentMenu {
    display: none; /* Oculta el contenido */
}

.visibleContentMenu {
    display: block; /* Muestra el contenido */
}

p{
	padding: 0px;											
}

.level-1{
	padding-left: 10px;
	cursor: pointer;	
}

.level-2{
	padding-left: 10px;
	cursor: pointer;	
}

.file-item-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
}


.file-item-img{
	height: 220px;
	width: 220px;
	margin: 5px
}

.file-item-video{
	height: 220px;
	width: 220px;
	margin: 5px
}

.image-item{
	width: 220px !important;
	height: 100% !important;
}


.level-0-wrapper{
	border-left: 1px solid;
	padding-left: 5px;
}


.file-item-audio{
	width: 100%;
	padding: 15px 40px;
	margin-bottom: 10px;
	border: 1px solid;
}

.audio-info-container{
	display: flex;
	width: 100%;
}

.audio-play-btn{
	display: flex;
	width:20%;
}

.audio-title{
	width: 80%;
	display: flex;
	justify-content: left;
}

.audio-description{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 5px 0px
}

.audio-download{
	display: flex;
	justify-content: right;
	width: 100%;
}

.download-audio-button{
	cursor: pointer !important;
}







