.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: none; 
}

#drive-folders-container{
	display: flex;
	width: 100%;
}
#folder-menu{
	width: 20%;
}

#folder-content{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center
	
}
.media-preview{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.media-item{
	display: flex !important;
	margin: 5px;
}

.menu-folder{
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 10px;
	color: black

}

.submenu-folder{
	font-size: 15px;
	margin: 0px !important;
	line-height: 20px;
	color: black
}


.hideContentMenu {
    display: none; 
}

.visibleContentMenu {
    display: block; 
}

p{
	padding: 0px;											
}


.level-0-wrapper{
	padding-left: 0px;
	cursor: pointer;
	color: black

}

.level-0 p{
	padding-left: 0px;
	cursor: pointer;
	color: black;
	font-weight: 400;
}

.level-0 p:hover{
		font-weight: 800
}


.level-1-wrapper{
	border-left: 1px solid rgb(0,0,0,0.8);
	padding-left: 10px;
	cursor: pointer;
	color: black;
}


.level-1{
	padding-left: 0px;
	cursor: pointer;
	color: black;
}

.level-1 p{
	font-weight: 400
}

.level-1 p:hover{
	font-weight: 800
}

.level-2-wrapper {
    border-left: 1px solid;
    padding-left: 10px;
    cursor: pointer;
    color: black;
    transition: all 1s ease; 
}


.level-2{
	padding-left: 0px;
	cursor: pointer;
	color: black
}

.file-item-container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
}


.file-item-img{
	height: 200px;
	width: 300px;
	cursor: pointer;
}

.file-item-video{
	height: 200px;
	width: 300px;
}

.file-item-video img{
	width: 100%;
	height: 100% !important;
}


.image-item{
	width: 300px !important;
	height: 100% !important;	
}


.file-item{
	margin-bottom: 3px;
	margin-right: 3px;
	cursor: pointer !important;
   transition: color 0.1s ease; 
}




.file-item-folder{	
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 1px solid black;
}

.file-item-folder p{
	color: black;
	font-weight: 600;
	font-size: 18px
}	

.file-item-pdf{
	width: 300px;
	height: 200px;
	border: 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.file-item-font{	
	width: 300px;
	height: 200px;
	border: 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	flex-wrap: wrap;
	align-content: center;
}
.file-item-font p{
	width: 100%;
	text-align: center;
	margin: 0px 0px 10px 0px;
	color: black;
	font-weight: 600
}	

.file-item-font a{
	padding: 4px 15px;
	border: 1px solid;
}
.file-item-font a:hover{
	border: 1px solid black !important;
}



.search-container{
	width: 100%;
	margin: 0px 0px 20px 0px;
	padding: none;
	display: flex;
	justify-content: center;
	align-items: center;

}

#search-input{
	width: 70% !important;
	border-radius: 50px;
	padding: 10px 20px;
	border: none;
}

#search-input:focus{
	outline: none !important;
	box-shadow: none !important; 

}

.file-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#load-more-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0073aa;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#load-more-button:hover {
    background-color: #005177;
}

#search-button{
	background-color: #0000;
	border: 2px solid;
	padding: 12px 20px;
	margin: 0px 10px;
	cursor: pointer;
	border-radius: 50px !important;
}

#clear-button{	
	padding: 10px 15px;
	border: 2px solid;	
	background-color: #0000;
	border-radius: 100px !important;
	cursor: pointer;
}

#clear-button:hover{
	background-color: black;
	color: white;
	border: 2px solid black;
}	

.customize-unpreviewable{
	border: 2px solid black;
	background-color: white !important;
	color: black !important;
	cursor: pointer !important;
	border-radius: 50px !important;
	font-weight: 600;
}



.file-item-audio{
	width: 49%;
	height: 300px;
	padding: 10px 10px;	
}

.audio-info-container{
	display: flex;
	width: 100%;
}

.audio-play-btn{
	display: flex;
	width:20%;
}



.audio-description{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 5px 0px
}

.audio-download{
	display: flex;
	justify-content: right;
	width: 100%;
}


.download-audio-button{
	cursor: pointer !important;
}

.download-audio-button {
    background-color: #4CAF50; /* Color del botón */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
}




.audio-info-container{
	display: flex;
	width: 100%;
	height: 25%; 
	border: 1px ;	
}

.audio-title-container{
	width:60%;
	display: flex;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;
}


.audio-title{
	font-size: 0.8rem;
	line-height: 13px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: left;
	align-items: left;
	color: black;
	font-weight: 500
}

.audio-category{
	justify-content: left;
	font-size: 12px;
	font-weight: 600;
	color: black;
	line-height: 15px
}

.audio-container{
	  width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	}


.file-item-audio{
	border: 1px solid;
	display: flex;
	flex-wrap:wrap;
	justify-content: center
}

.img-preview-audio-google-drive{
	width: 350px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	
}

.img-preview-audio{	
	height: 70px !important;
	width: 350px !important;
	object-fit: cover;
}

.img-example-audio-google-drive{
	height: 60px;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.3
}


.img-example-audio-google-drive img{
	width: 100%;
	height: 100%;
}


.img-example-audio-google-drive-opacity{
	opacity: 1 !important
}


.audio-content{
	padding: 0px !important;	
}

.audio-content iframe {
  width: 350px;	
  height: 70px;
	opacity: 1 !important;
	display: flex;
	padding: 0px !important;
	position: absolute;
	bottom: 0px;
	right: 0;
	}

.audio-description{
	height: 36%;
	display: flex;
	align-items: center;
}

.audio-download{
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fa-spinner {
	font-size: 15px !important;
    display: inline-block;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load-audio{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	border: none;
	background: none;
	cursor: pointer;
}

.button-load-start{
	width: 15%;
}

.load-audio p{
	font-size: 12px;
	color: rgb(0,0,0,0.4)
}

.load-audio i{
	font-size: 12px;
	padding: 15px;
	border-radius: 50%;
	color: white;
	background: black
}

.button-load-more-container{	
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


#load-more{
	background: none;
	border: 2px solid;
	color: black;
	margin: 10px;
	height: 40px;
	cursor: pointer;
}


.fa-download{
	font-size: 20px;
	border: none !important;
}

.audio-creation-date{
	color: black;
}

.finished-message{
	display; flex;
	font-size: 12px;
	line-height: 15px
}
.loading-message{
		display; flex;
	font-size: 12px;
	line-height: 15px
}


@media screen and (max-width: 768px) {
	#drive-folders-container{
		display: flex;
		flex-wrap: wrap !important
	}
	#folder-menu{
		width: 100%;
	}
	#folder-content{
		width: 100%
	}
	.file-item-audio{
		width: 100% !important
	}
	.search-container{
		margin-top: 10px
	}

	
}





#loading-message{
	display: flex;
	width: 80% !important;
	height: 400px;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	
}


#loading-message-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999; /* Asegura que esté encima del contenido */
}

#loading-spinner {
    border: 4px solid #f3f3f3; /* Fondo del spinner */
    border-top: 4px solid #3498db; /* Color de la parte superior */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px; /* Espacio entre el spinner y el texto */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-text {
    font-size: 16px;
    color: #3498db;
}

#loading-message p{
	width: 100%;
	color: black;
	font-weight: 700
}


.file-item-img{
	position: relative;
}


.hover-general-information-img{
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	opacity: 0
}

.hover-general-information-img:hover{
	opacity: 1
}


.img-title-preview-img{
	width: 100%;
	height: 49%;
	padding: 10px;
}
.img-title-preview-img p{
	display: inline;
	color: White;
	background: rgb(0,0,0,0.7);
	padding: 5px;
	font-weight: 700
}


.download-icon{
	width: 100%;
	height: 49%;
	display: flex;
	justify-content: flex-end;
align-items: flex-end;
padding: 5px
}

.download-icon a{
	background: rgb(0,0,0,0.5) !important;
}

.download-icon a:hover{
	background: rgb(0,0,0,0.9) !important;
	border: none !important;
	cursor: pointer !important
}


.download-icon a i{
	color: white !important
}

.file-item-video{
	position: relative
}

.hover-general-information-video{
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	opacity: 0
}

.hover-general-information-video:hover{
	opacity: 1
}


.video-title-preview-video{
	width: 100%;
	height: 49%;
	padding: 10px;
}

.video-title-preview-video p{
	color: white
}


.video-download-box{
	width: 100%;
	height: 49%;
	display: flex;
	justify-content: flex-end;
align-items: flex-end;
padding: 5px
}

 .video-download-box a{
	background: rgb(255,255, 255,0.6) !important;
}

.video-download-box a:hover{
	background: rgb(255,255, 255,1) !important;
	border: none !important;
	cursor: pointer !important;
	color: black !important
}


.customize-unpreviewable{
	padding: 10px;
	border: none;	 
	border-radius: 5px !important;
}

.customize-unpreviewable:hover{
	background-color: black !important;
	color: white !important;
	border: 2px solid black !important;
}